/srcC*/perftest.*
/srcC*/perftest_ZeroCopy*
/srcC*/perftestPlugin.*
/srcC*/perftestSupport.*
/srcC*/perftest_publisher.*
/srcC*/perftest_subscriber.*
/srcC*/makefile_*
/srcC*/objs
/srcCs/bin
/srcCs/obj
/srcC*/*.vcxproj*
/srcC*/*.vcproj*
/srcC*/*.csproj
/srcC*/*.sln
/srcC*/*.sdf
/srcC*/perftestImplPlugin.*
/srcC*/perftestImpl.*
/srcJava/class
/srcJava/jar
/srcJava/com/rti/perftest/gen
/bin
.cproject
.project
/srcIdl/customType/*
/tmp
.vscode
.suo
*.VC.db
*.VC.opendb
doc
srcDoc/_build

# Files copied by the build Script.
/srcCpp/Parameter*
/srcCpp03/Parameter*
/srcCpp03/CpuMonitor*
/srcCpp/CpuMonitor*
/srcCpp/ThreadPriorities.*
/srcCpp03/ThreadPriorities.*

# Micro specific files related to code Generation
/srcCpp/README.txt
/srcCpp/perftestApplication.cxx
/srcCpp/perftestApplication.h
/srcCpp/gen/*
/srcCpp/perftest_build
/srcCpp/CMakeLists.txt
/srcCpp/custom.cxx
/srcCpp/custom.h
/srcCpp/customPlugin.cxx
/srcCpp/customPlugin.h
/srcCpp/customSupport.cxx
/srcCpp/customSupport.h
/srcCpp/test.cxx
/srcCpp/test.h
/srcCpp/testPlugin.cxx
/srcCpp/testPlugin.h
/srcCpp/testSupport.h
/srcCpp/testSupport.cxx
/srcIdl/test.idl
srcCpp/build
build
