<configuration>
  <configSections>
    <section name="Logging" type="System.Configuration.NameValueSectionHandler" />
    <section name="User" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Logging>
    <add key="File Name" value="MyApp.log" />
    <add key="MaxFileSize" value="40000000000000" />
  </Logging>
  <User>
    <add key="Email" value="jane@mail.com" />
    <add key="Name" value="Jane Andrews" />
  </User>
</configuration>