prompt=no
distinguished_name      = req_distinguished_name

[ req_distinguished_name ]
countryName=US
stateOrProvinceName=CA
localityName=Sunnyvale
organizationName=Real Time Innovations
emailAddress=sub@rti.com
commonName=perftest

